.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 75px;
  background: #0000005b;
  backdrop-filter: blur(50px);
  color: var(--white-color);
  z-index: 999;
}

.navbar .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.navbar .nav .nav_menu .nav_list .nav_link {
  color: var(--white-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--white-color);
}

.button_menu_area {
  display: flex;
  align-items: center;
  gap: 30px;
}

.toggle-button .icons {
  font-size: 30px;
  color: var(--white-color);
  transition: all 0.5s ease-in-out;
}

.toggle_btn {
  display: none;
}

.cart_icon {
  color: var(--white-color);
}

@media screen and (max-width: 768px) {
  .toggle_btn {
    display: block;
    color: var(--white-color);
  }
  .navbar .nav {
    position: relative;
  }
  .navbar .nav_menu {
    position: absolute;
    top: 75px;
    left: -100%;
    width: 100%;
    padding: 50px 30px;
    background: #000000;
    height: 50vh;
    border-radius: 24px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: -999;
  }

  ul.nav_menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 0;
  }

  .navbar .nav .nav_menu .nav_list .nav_link {
    color: #fff !important;
  }
}
